[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Zenbot is a command-line cryptocurrency trading bot using Node.js and MongoDB.
[access "refs/*"]
	owner = group user/olexiyb
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/olexiyb
	label-Verified = -1..+1 group user/olexiyb
	push = group user/olexiyb
	read = group user/olexiyb
	rebase = group user/olexiyb
	removeReviewer = group user/olexiyb
	submit = group user/olexiyb
[access "refs/heads/*"]
	create = group user/olexiyb
	push = +force group user/olexiyb
	pushMerge = group user/olexiyb
	read = group user/olexiyb
[access "refs/tags/*"]
	push = group user/olexiyb
	push = +force group user/olexiyb
